@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #02120e;
  --foreground: #e0e0e0;
  --font-sans: "Inter", sans-serif;
  --font-serif: "Playfair Display", serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
  overflow: hidden; /* Prevent body scroll for canvas app */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
